@charset "UTF-8";
.contactos {
  color: black;
  text-align: left;
  font-size: 15px;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

footer ul li {
  margin-right: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0c2c0;
  padding: 10px;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.h2 {
  align-items: center;
}

.redes, li {
  list-style: none;
  display: flex;
  margin-left: 70px;
}

.logoig {
  width: 40px;
  height: auto;
}

.logofb {
  width: 45px;
  height: auto;
}

.logox {
  width: 40px;
  height: auto;
}

.navbar-expand-lg {
  background: #e0c2c0;
  height: 100%;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  height: 10%;
  width: 10%;
}

.navbar-nav {
  display: flex;
  font-size: 20px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  font-size: 30px;
}

.li {
  list-style: none;
  color: black;
}

.navbar-nav .nav-item {
  margin-right: 80px;
}

#carouselExampleFade {
  height: 100%;
  width: 100%;
}

.carousel-inner {
  width: 100%;
  height: 50%;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.carousel-item.active {
  height: 100%;
  width: 100%;
}

.h1pagina2 {
  text-decoration: underline;
}

.gridlayout {
  background-color: #f8e1df;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  width: 100%;
  margin-top: 0 auto;
  justify-content: space-evenly;
}

.productos {
  border: 4px solid black;
  text-align: center;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 60px;
}

.card-title {
  margin-top: 10px;
}

.cardpasas {
  height: 180px;
  width: 250px;
}

.carddati {
  height: 180px;
  width: 250px;
  margin-bottom: 10px;
}

.cardcastañas {
  height: 150px;
  width: 250px;
}

.productos p {
  font-size: 14px;
  margin-top: 10px;
  color: #333;
  text-align: left;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #dda859;
}

.productos {
  width: 30rem;
  height: 39rem;
}

body {
  background-color: #f8e1df;
}

.container {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
  background-color: #f8e1df;
  margin-bottom: 62px;
}

.reseña img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 30px;
}

.informacion {
  margin-top: 30px;
  margin-bottom: 30px;
}

.rese {
  background-color: #f8e1df;
  text-decoration: underline;
}

.containerr {
  display: grid;
  grid-template-columns: 0fr 1fr;
  grid-column-gap: 2%;
  grid-row-gap: 20px;
  justify-items: center;
  align-items: stretch;
}

.img {
  float: left;
  height: 100%;
  width: auto;
}

.classh1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.contenedor-imagen {
  width: 400px;
  height: 300px;
  background-image: url("../img/icono.jpg");
  background-size: 100% 100%;
  background-position: center bottom;
  padding: 30%;
  margin-left: 20%;
}

.informaciontexto {
  margin-bottom: 60px;
  margin-left: 10%;
}

.textocontacto .classh2 {
  margin-bottom: 20px;
  margin-left: 30px;
}

.containerp5 {
  display: flex;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 2fr 100px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  padding: 20px;
  margin-bottom: 70px;
}

@media (min-width: 992px) and (max-width: 1218px) {
  html, body {
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  footer {
    bottom: 0;
    width: 100%;
  }
  .contenedor-imagen {
    width: 500px;
    height: 500px;
  }
  .navbar {
    display: flex;
    font-size: 20px;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-family: "Rufina", serif;
}

/*  text decoration: none para que no aparezca subrayado */
.a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1rem;
}
.a:hover {
  color: rgb(190, 92, 108);
}

h1 {
  text-align: center;
  color: #000000;
  font-size: 7rem;
}

.h2 {
  color: black;
  font-size: 2rem;
}

.ul {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  padding: 10px;
  flex-direction: row;
  width: 100%;
}

.li {
  list-style: none;
  color: black;
}

.introduccion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: beige;
}

.pe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background-color: beige;
}

p {
  font-size: 2rem;
}

.whatsapp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.whatsapp {
  position: fixed;
  bottom: 70px;
  margin-bottom: 6px;
  right: 20px;
  background-color: green;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/logo.jpg");
  background-size: cover;
  background-position: center;
}

.texto_informacion {
  text-align: center;
  font-size: 3rem;
  background-color: beige;
}

.articulos {
  height: 150px;
  width: 150px;
  margin-top: 20px;
}

/* .nueces{
    height: 150px;
    width: 150px;
    margin-top: 20px;
} */
/* PAGINA 2  */
.productostexto {
  font-size: 3rem;
}

/* PAGINA 3  */

/*# sourceMappingURL=estilosHtml.css.map */
