.contactos{
    color: black;
    text-align: left;
    font-size: 15px;
}
footer ul {
    list-style: none; 
    padding: 0;
    display: flex; 
    justify-content:flex-end
  }
  
  footer ul li {
    margin-right: 20px; 
  }
 footer{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #e0c2c0;
     padding: 10px;
     bottom:0; 
     width: 100%;
     position: fixed;
 }
 .h2 {
     align-items: center;
 }
.redes, li {
     list-style: none;
     display: flex;
     margin-left: 70px;
 }

 .logoig{
     width: 40px;
    height: auto;
 }
 .logofb {
     width: 45px;
     height: auto;
 }
 .logox{
     width: 40px;
     height: auto;
 }

