/*dispositivos móviles*/
@media (max-width: 767px) {
    body {
      font-size: 14px;
    }
  }
  /*tablet */
  @media (min-width: 768px) and (max-width: 991px) {
    body {
      font-size: 16px;
    }
  }
  
  /* escritorio */
  @media (min-width: 992px) {
    body {
      font-size: 18px;
    }

  }