.navbar-expand-lg{
    background: #e0c2c0;   
    height: 100%;
    width: 100%;
    padding: 10px;
    justify-content:center;
    align-items: center;
}
.container-fluid {
    height: 10%;
    width: 10%;
}
.navbar-nav {
    display: flex;
    font-size: 20px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.navbar-brand {
        font-size: 30px;
    }
.li{
        list-style: none;
        color: black; 
    }

    
.navbar-nav .nav-item {
    margin-right: 100px;
}
