.containerr {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: stretch;
}
.img {
    float:left;
    height: 100%;
    width: auto;
}
.classh1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}
.contenedor-imagen {
    width: 400px; 
    height: 300px; 
    background-image: url("../img/icono.jpg"); 
    background-size: 100% 100%;
    background-position: center bottom;
    padding: 30%;
    margin-left: 20%;
  }

  .informaciontexto {
    margin-bottom: 60px;
    margin-left: 10%;
  }